.saltMenuItem {
  color: var(--salt-text-primary-foreground);
  background: var(--salt-selectable-background);
  font-size: var(--salt-text-fontSize);
  font-weight: var(--salt-text-fontWeight);
  min-height: calc(var(--salt-size-base) + var(--salt-spacing-100));
  padding-left: var(--salt-spacing-100);
  padding-right: var(--salt-spacing-100);
  display: flex;
  gap: var(--salt-spacing-100);
  position: relative;
  align-items: center;
  border-top: var(--salt-size-border) var(--salt-container-borderStyle) transparent;
  border-bottom: var(--salt-size-border) var(--salt-container-borderStyle) transparent;
  cursor: var(--salt-selectable-cursor-hover);
}

.saltMenuItem-active {
  background: var(--salt-selectable-background-hover);
  border-color: var(--salt-selectable-borderColor-selected);
}

.saltMenuItem-focusVisible {
  outline: var(--salt-focused-outline);
  outline-offset: calc(var(--salt-size-border) * -2);
}

.saltMenuItem:not(.saltMenuItem-disabled):hover {
  background: var(--salt-selectable-background-hover);
}

.saltMenuItem-selected,
.saltMenuItem-selected:hover {
  background: var(--salt-selectable-background-selected);
  border-color: var(--salt-selectable-borderColor-selected);
}

.saltMenuItem-disabled {
  color: var(--salt-text-primary-foreground-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

.saltMenuItem-expandIcon {
  margin-left: auto;
}
